<footer>
  <div class="container-fluid">
    <div class="copyright has-text-centered">&copy;2017 Fire Emergency Tactical System | Developed by
      <a href="https://imaginebinary.io" target="_blank">Imagine Binary Ltd</a> </div>
  </div>
</footer>
