.login-header {
  background-color: $gray;
}
.logo {
  width: 250px;
  height: auto;
  padding: 1px 5px 1px 3px;
  box-shadow: 0 11px 8px -6px black;
  border-radius: 10px 0 30px 50px;
  border-bottom: 1px solid $red-brown;
}
.is-login {
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}
.mt {
  margin-top: 1rem;
}
.do-login {
  width: 100%;
  border-radius: 0;
  border: 1px solid $red-brown;
  &:focus, &:active, &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .9);
    background-color: $gray;
    color: $white;
    border: 1px solid $gray;
  }
}
.login-feedback {
  margin: 1rem 0 0 0;
  min-height: 60px;
}
.login-feedback.error {
  color: $danger;
}
.description {
  color: $white;
  a {
    color: $white;
    border-bottom: 2px solid $red-brown;
    &:hover {
      border-bottom: 2px solid $white;
    }
  }
}
.credits {
  font-size: 14px;
  color: silver;
  font-family: monospace;
  a {
    color: silver;
    border-bottom: 1px solid silver;
  }
  a:hover {
    color: $white;
    border-bottom: 2px solid $red-brown;
  }
}
// info text for the about page
.info-text {
  font-size: 19px;
  font-weight: 400;
}
